# Byte-compiled files
*.py[cod]
*.pyo

# C extensions
*.so

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
.env/
.env.*
*.venv

# Pytest cache
.cache/

# MyPy cache
.mypy_cache/

# Pyre type checker
.pyre/
